@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  /* title style font */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

  .dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
   }

  /* title style font ends here */
  *{
    margin: 0;
    padding: 0;
  }
  /* default styles */
.display-flex{
    display: flex;
}
.white{
    color: rgb(255, 255, 255);
}
.semi-white{
  color: rgba(255, 255, 255, 0.5);
}


  /* navbar styles */
  header{
    /* position: relative; */
    max-width: 1440px;
    /* height: 715px; */
    margin: 0 auto;
    border: 2px solid red;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgb(0, 0, 0);

  }
  .navbar{
    justify-content: space-between;
    /* margin-top: 58px; */
    max-width: 1080px;
    margin: 50px auto;
  }
  .nav-icon{
    display: none;
  }
  .nav-item{
    list-style: none;
    margin-right: 47px;
  }
  .nav-link{
    font-size: 1.125rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 49px;
    align-items: center;
   }
  .brand{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
  }
  .btn-nav{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;

  }
  /* banner styles */
  .banner-container{
    justify-content: space-between;
    gap: 160px;
    margin-left: 190px;
    margin-right: 210px;
  }
  .banner-text{
    max-width: 520px;
    /* border: 2px solid green; */
    margin-top: 70px;
    text-align: left;
  }
  .banner-title{
    font-size: 4.875rem;
    font-weight: 900;
  }
  .banner-des{
    margin-top: 28px;
    margin-bottom: 28px;
  }
  
  .btn-primary{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;

  }
  .btn-clear{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: 15px;

  }
  .banner-img img{
    max-width: 349px;
    position: relative;
    /* border: 2px solid red; */
  }
  .tutorial-card-1 h6{
    font-size: 1.5rem;
    font-weight: 900;
}
.tutorial-card-1 i{
  margin-left: 24px;
  background-color: rgb(230, 83, 60);
  padding: 12px;
  border-radius: 50%;
  color: white;
}
.tutorial-card-text{
  margin-right: 22px;
}

.tutorial-card-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 206px;
  height: 96px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
position: absolute;
left: 1000px;
top: 556px;

}
.tutorial-card-2{
  max-width: 206px;
  height: 96px;
  border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
position: absolute;
left: 1340px;
top: 260px;

}
.tutorial-card-2 h6{
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 10px;
}
.tutorial-card-text{
margin-left: 22px;
}

/* change your habit */
#habit{
  max-width: 1440px;
  border: 2px solid green;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}
.change-title-text{
  text-align: center;
  margin-top: 100px;
}
.change-title-text h3{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.change-title-text p{
  font-size: 0.875rem;
}
.change-card-container{
  max-width: 1044px;
  border: 2px solid aqua;
  margin: 0 auto;
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.change-card{
  width: 230px;
  height: 275px;
  justify-content: center;
  text-align: center;
}
.change-card-container img{
  border-radius: 50%;
  margin-bottom: 30px;
}
.change-card-container h5{
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.change-card-container p{
  font-size: 0.875rem;
  font-weight: 400;
}
/* extra-mile section */
#extra-mile{
  max-width: 1440px;
  border: 2px solid green;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

.extra-mile-container{
  max-width: 1060px;
  margin: 0 auto;
  /* border: none; */
  border: 2px solid aqua;
  border-radius: 18px;
  margin-top: 100px;
  background: rgb(34, 34, 34);
  gap: 165px;
}
.ex-img{
  max-width: 366px;
height: 312px;
border-radius:18px;
/* padding: 30px; */
margin: 30px;
object-fit: none;
object-position: 66% 33%;
}
.extra-mile-container-text{
  margin-top: 40px;
  margin-left: 55px;
}

.extra-mile-container-text h3{
font-weight: 900;
font-size: 3rem;
margin-bottom: 15px;
}
.extra-mile-container-text p{
  font-size: 0.875rem;
}
.extra-mile-container button{
  margin-top: 35px;
  padding: 16px 65px 16px 65px;
}

/* bmi section */
#bmi-calculator{
  max-width: 1440px;
  border: 2px solid green;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}
.bmi-calculator-title{
  margin-top: 80px;
  margin-bottom: 90px;
  text-align: center;
}
.bmi-calculator-title h3{
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 15px;
}
.bmi-calculator-title p{
  font-size: 0.875rem;
}
.bmi-details-container{
  max-width: 1440px;
  margin: 0 auto;
  border: 2px solid red;
  justify-content: space-between;
  background: rgb(34, 34, 34);
}
.bmi-chart{
  margin-left: 190px;
}
.bmi-chart h4{
  font-size: 1.75rem;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 50px;
}
table{
border-collapse: collapse;
text-align: start;
}

td, th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 24px;
}
th{
  font-weight: 500;
}
td{
  font-size: 0.875rem;
}
.bmi-form-content h4{
  font-size: 1.75rem;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 15px;

}
.bmi-form-content p{
  font-size: 0.875rem;
}
.bmi-form-content{
  margin-bottom: 55px;
  margin-right: 190px;
}

form{
  margin-top: 35px;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  column-gap: 12px; 
  row-gap: 12px;

}
.item5{
  grid-column: 1 / span 2;
}
form input, select{
  padding: 12px 40px 12px 20px;
  border: none;
  border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
}
.bmi-form-content button{
  margin-top: 30px;
}
/* meet team section  */
#meet-team{
  max-width: 1440px;
  border: 2px solid yellow;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}
.meet-team-title{
  text-align: center;
  margin-top: 90px;
}
.meet-team-title h3{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.meet-team-title p{
  font-size: 0.875rem;
}
.meet-card-container{
  max-width: 1060px;
  /* height: 604px; */
  margin: 0 auto;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
}
.meet-card{
  position: relative;
  background-size: cover;
  border-radius: 18px;
  border: none;
  max-width: 100%;
  height: 280px;
  }
  .meet-img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
  }
.meet-card-text{
  position: absolute;
  bottom: 20px;
  margin-left: 23px;
}
.meet-card-text h5{
  font-size: 1.25rem;
  font-weight: 900;
}
.meet-team-title p{
  font-size: 0.875rem;
}


/* responsive media query */

@media screen and (max-width: 576px) {
.banner-container{
  flex-direction: column;
  margin: 0 20px;
}
.nav-item{
  display: none;
}
.nav-icon{
  display: block;
}
.navbar{
  margin: 52px 20px;
}
.banner-title{
  font-size: 2.25rem;
  max-width: 285px;
  height: 118px;
}
.banner-des{
  max-width: 274px;
  height: 96px;
  margin-top: 30px;

}
  .btn-primary{
    max-height: 54px;
    /* padding: 16px 40px; */
    text-align: center;
  }
  .btn-primary span{
    display: none;
  }
  .btn-clear{
    padding: 16px 25px;
    margin-left: 15px;
    max-width: 50%;
    height: 54px;
  }
  .banner-container{
    gap: 50px;
  }
  .tutorial-card-1{
    left: 32px;
    top: 870px;
    width: 150px;
    height: 70px;
    gap: 10px;
  }
  .tutorial-card-1 i{
    padding: 6px;
    color: white;
    margin-left: 15px;
  }
  .tutorial-card-1 h6{
    font-size: 1.125rem;
    font-weight: 900;
}
.tutorial-card-1 p{
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0;
}
.tutorial-card-text{
  margin-left: 0px;
  }
.tutorial-card-2{
  left: 215px;
  top: 650px;
  width: 145px;
  height: 75px;
}
.tutorial-card-2 h6{
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 5px;
  margin-left: 18px;
}
.tutorial-card-2 p{
  font-size: 0.75rem;
  text-align: start;
  margin-left: 18px;
  padding: 0;
}
#r-margin{
  margin-right: 0px;
}
/* change sec  */
.change-title-text h3{
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.change-title-text{
  margin-top: 0;
}
.change-card-container{
  grid-template-columns: 1fr;
}
.change-card{
  width: auto;
}
/* .extra-mile-container */
.extra-mile-container{
  flex-direction: column;
  margin-top: 60px;
  gap: 0px;
  max-width: 355px;
}
.extra-mile-container-text h3{
  font-weight: 900;
  font-size: 2rem;
  }
  .extra-mile-container-text{
    margin: 31px 33px;
  }
  .ex-img{
    width: 287px;
  }
  /* bmi calculate sec  */
  .bmi-calculator-title{
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
  }
  .bmi-calculator-title h3{
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .bmi-details-container{
    flex-direction: column;
  }
  .bmi-chart{
    margin-left: 20px;

  }
  .bmi-form-content{
    margin-right: 0px;
    margin-left: 20px;
  }
  form{
    margin-right: 20px; 
  }
  form input, select{
    padding: 12px 0px 5px 12px;
  }
  .bmi-form-content button{
    margin-top: 15px;
  }
  /* meet team section  */
  .meet-team-title h3{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .meet-card-container{
    grid-template-columns: 1fr;
  }
  .card1, .card4{
    display: none;
  }

}