@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  /* title style font */

 .miama-font{
  font-family: 'Miama', sans-serif;
  font-size: 5rem;
  font-style: italic;        
 }
                                                

                

  /* title style font ends here */
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #000000;
  }
  /* default styles */
.display-flex{
    display: flex;
}
.white{
    color: rgb(255, 255, 255);
}
.semi-white{
  color: rgba(255, 255, 255, 0.5);
}


  /* navbar styles */
  header{
    /* position: relative; */
    max-width: 1440px;
    margin: 0 auto;
    background-color:rgb(17, 17, 17)
  }
  .header{
    border: none;
  }
  .navbar{
    justify-content: space-between;
    max-width: 1080px;
    margin: 0px auto 50px auto;
  }
  .nav-icon{
    display: none;
  }
  .nav-item{
    list-style: none;
    margin-right: 47px;
  }
  .nav-link{
    font-size: 1.125rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 49px;
    align-items: center;
    margin-top: 30px;
   }
  .brand{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    margin-top: 30px;
  }
  .btn-nav{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;

  }
  /* banner styles */
  .banner-container{
    justify-content: space-between;
    gap: 160px;
    margin-left: 190px;
    margin-right: 210px;
  }
  .banner-text{
    max-width: 520px;
    margin-top: 70px;
    text-align: left;
  }
  .banner-title{
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 120%;
  }
  .banner-des{
    margin-top: 28px;
    margin-bottom: 28px;
  }
  
  .btn-primary{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;

  }
  .btn-clear{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: 15px;

  }
  .banner-img img{
    max-width: 349px;
    position: relative;
  }
  .tutorial-card-1 h6{
    font-size: 1.5rem;
    font-weight: 900;
}
.tutorial-card-1 i{
  margin-left: 24px;
  background-color: rgb(230, 83, 60);
  padding: 12px;
  border-radius: 50%;
  color: white;
}
.tutorial-card-text{
  margin-right: 22px;
}

.tutorial-card-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 206px;
  height: 96px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
position: absolute;
left: 1000px;
top: 556px;

}
.tutorial-card-2{
  max-width: 206px;
  height: 96px;
  border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
position: absolute;
left: 1340px;
top: 260px;

}
.tutorial-card-2 h6{
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 10px;
}
.tutorial-card-text{
margin-left: 22px;
}

/* change your habit */
#habit{
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}
.change-title-text{
  text-align: center;
  margin-top: 100px;
}
.change-title-text h3{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.change-title-text p{
  font-size: 0.875rem;
}
.change-card-container{
  max-width: 1044px;
  margin: 0 auto;
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.change-card{
  width: 230px;
  height: 275px;
  justify-content: center;
  text-align: center;
}
.change-card-container img{
  border-radius: 50%;
  margin-bottom: 30px;
}
.change-card-container h5{
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.change-card-container p{
  font-size: 0.875rem;
  font-weight: 400;
}
/* extra-mile section */
#extra-mile{
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

.extra-mile-container{
  max-width: 1060px;
  margin: 0 auto;
  border-radius: 18px;
  margin-top: 100px;
  background: rgb(34, 34, 34);
  gap: 165px;
}
.ex-img{
  max-width: 366px;
height: 312px;
border-radius:18px;
margin: 30px;
object-fit: none;
object-position: 66% 33%;
}
.extra-mile-container-text{
  margin-top: 40px;
  margin-left: 55px;
}

.extra-mile-container-text h3{
font-weight: 900;
font-size: 3rem;
margin-bottom: 15px;
}
.extra-mile-container-text p{
  font-size: 0.875rem;
}
.extra-mile-container button{
  margin-top: 35px;
  padding: 16px 65px 16px 65px;
}

/* bmi section */
#bmi-calculator{
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}
.bmi-calculator-title{
  margin-top: 80px;
  margin-bottom: 90px;
  text-align: center;
}
.bmi-calculator-title h3{
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 15px;
}
.bmi-calculator-title p{
  font-size: 0.875rem;
}
.bmi-details-container{
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  background: rgb(34, 34, 34);
}
.bmi-chart{
  margin-left: 190px;
}
.bmi-chart h4{
  font-size: 1.75rem;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 50px;
}
table{
border-collapse: collapse;
text-align: start;
}

td, th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 24px;
}
th{
  font-weight: 500;
}
td{
  font-size: 0.875rem;
}
.bmi-form-content h4{
  font-size: 1.75rem;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 15px;

}
.bmi-form-content p{
  font-size: 0.875rem;
}
.bmi-form-content{
  margin-bottom: 55px;
  margin-right: 190px;
}

.form{
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 250px;
  height: 48px;
  margin-right: 5px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 10px;
  margin-top: 12px;
  font-size: 0.875rem;
}
.form-3{
width: 48.5%;
font-size: 0.875rem;
}
.form-2{
  width: 99%;
  display: block;
  font-size: 0.875rem;
}
.bmi-form-content button{
  margin-top: 30px;
  padding: 16px 80px 16px 80px;
}
/* meet team section  */
#meet-team{
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}
.meet-team-title{
  text-align: center;
  margin-top: 90px;
}
.meet-team-title h3{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.meet-team-title p{
  font-size: 0.875rem;
}
.meet-card-container{
  max-width: 1060px;
  margin: 0 auto;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
}
.meet-card{
  position: relative;
  background-size: cover;
  border-radius: 18px;
  border: none;
  max-width: 100%;
  height: 280px;
  }
  .meet-img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    filter: brightness(70%);
  }
.meet-card-text{
  position: absolute;
  bottom: 20px;
  margin-left: 23px;
}
.meet-card-text h5{
  font-size: 1.25rem;
  font-weight: 900;
}
.meet-team-title p{
  font-size: 0.875rem;
}
/* join team section  */
#join-team{
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}
.join-team-container{
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 50px;
}
#join-team h2{
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 90px;
  margin-bottom: 30px;
}
.join-card{
  background-color: rgb(34, 34, 34);
  border-radius: 5px;

}
#join-team h3{
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(230, 83, 60);
}
.line{
  margin-bottom: 20px;
  max-width: 90%;
  border: 1px solid rgb(230, 83, 60);
}
#join-team h5{
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: rgb(230, 83, 60);
}
#join-team p{
  font-size: 1.15rem;
  margin-bottom: 20px;
}
#join-team ul{
  margin-left: 20px;
  list-style-type: square;
}
#join-team li{
  font-size: 0.875rem;
  margin-bottom: 20px;
}
#join-team button{
  padding: 12px 70px 12px 70px;
  margin-top: 20px;

}



/* footer section  */
footer{
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
}
.footer-content{
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 65px;
  justify-content: space-between;
}
.fitness-text h2{
  color: rgb(230, 83, 60);
  font-size: 4.3rem;
  font-weight: 800;
  font-style: italic;
  margin-top: 30px;
}
.fitness-text p{
  font-size: 0.875rem;
  margin-top: 20px;
  line-height: 25px;
}
.get-started-text h3{
  font-size: 2rem;

  margin-top: 30px;
  margin-bottom: 40px;
}
.get-started-text p{
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.footer-text-container{
  gap: 150px;
}
footer hr{
  margin-top: 80px;
  max-width: 1060px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 80px auto 35px auto;
}
.copyright-text{
  text-align: center;
  font-size: 1.25rem;
}


